*{
  box-sizing: border-box;
}
body{
  background-color: #777;
  height: 100vh;
  padding: 0;
}

.canvas .note {
  background-color: hsl(24, 100%, 90%);
  color: #777;
  width: 150px;
  height: 150px;

}

.navbar {
  display: flex;
  justify-content: space-between;
  
}